/* Colors: 
/* CSS HEX 
--light-slate-gray: #7a8b99ff;
--white: #ffffffff;
--camel: #ba9c60ff;
--raisin-black: #232528ff;
--rich-black-fogra-29: #071013ff;


/* SCSS RGB 
$light-slate-gray: rgba(122, 139, 153, 1);
$white: rgba(255, 255, 255, 1);
$camel: rgba(186, 156, 96, 1);
$raisin-black: rgba(35, 37, 40, 1);
$rich-black-fogra-29: rgba(7, 16, 19, 1);

/* colors variables */
:root{
   
    --white: #ffffffff;
    --camel: #ba9c60ff;
    --camelight: hsl(40, 54%, 48%);
    --rich-black-fogra-29: #071013ff;
    --rich-black: rgb(0, 0, 0);
  
    
}

/* Common */

html { 
    font-size: calc(1em + 1vw);
    box-sizing: content-box;
   /*  height: 100vh; */
  
    /*For smooth scrolling behavior*/
    scroll-behavior: smooth;
}


body{
    font-family: 'Brawler', serif;
    background-color: var(--rich-black);
}
 

.bg-gold{
    background-color: var(--camel);
}

.text-gold{
    color: var(--camel);  
}


p{
    font-size: 13px;
    margin-bottom: 0px;
    font-weight: bold;
    color: var(--light-slate-gray);
}

/* buttons */
button:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.btn-outline-light{border: 2px solid var(--camelight);}

.btn-outline-light:hover{border-color: var(--camel); background-color: var(--camel); color: var(--white);}

/* Navbar */
.logo{
    width: 60%;
}

.navbar-nav{
    font-size: 0.7em;  
}

.navbar-toggler{
    border: none;
}



/* Home page Banner */

.parallax-home {
      background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url(images/welcome/robert-shunev-OmOvMdiaZZ0-unsplash-dark.jpg);   
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      background-blend-mode: darken;
}

.cover-heading{
    font-size: 34px ;
    padding: 0.5em ;
}

[class*="fa-"] {color: var(--white); margin-right: 15px;}
[class*="fa-"]:hover {color: var(--camel);}


/* Menu Page Group-list & Badges*/

.parallax-menu {
    background: url('/images/menu/menu-background-coffeecamel.png');
    background-color: var(--rich-black);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    
}

.image-icon{
    width: 20%;
}
.image-title{
    width: 10%;
}

.list-group-item{
    
    font-size: 18px;
    color: var(--white);
    border: none;
    font-weight: 100;
    
}

.badge {
    color: var(--white);
    vertical-align: middle;
    font-size: 18px;
    background-color: var(--camel);
}


/* About us */
.parallax-aboutus{
    background-color: var(--rich-black);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vw;
    margin-bottom: -300px;
}

.box-transparent-black{
    background-color: rgb(0, 0, 0, 0.6) ; 
    border: solid 2px var(--camel);
    position: relative;
    z-index: 2;
    transform: translate(45%, -40px); 
}

/* Culture page --> carousel */

.parallax-culture-home{
    background-color: pink;   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

}

.card{
    width: auto;
    height: 16rem; 
    margin: 0.5em;
    margin-bottom: 1em;
    background-color: var(--rich-black);
    border: solid 2px var(--camel);
    border-radius: 0px;
}

.card-title{
    font-size: 20px;
}

.card-img-top{
    height: 8rem;
    aspect-ratio: auto ;
    border-radius: 0px;
    background-size: cover ;
}


/* Menu Page gallery */

.parallax-gallery {
 
    background-blend-mode: saturation;
    background-color: var(--rich-black);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;

}

/* Footer */

.parallax-contact {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8) ), url(images/welcome/matt-hoffman-7zwyUZVrt-U-unsplash.jpg);  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
}



.label {
    font-size: 14px;
    margin-bottom: 10px;
    }

.custom-select{
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    margin-bottom: 34px;
    width: 100%;
}




/* Footer */

.fs-13{
    font-size: 13px;
}

.bg-footer{
    background-color: var(--camel);
    margin: -20px;
      
    }


footer p{
   font-weight: 200;

}



.list-unstyled li i{
    padding-left: 20px;
    padding-right: 15px;
}


/*! Responsive */

@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .list-group-item{
    
        font-size: 16px;        
    }
    .badge{
        font-size: 14px;
    }
  }
  @media screen and (min-width: 1000px) {
    

    .list-group-item{
    
        font-size: 16px;        
    }
  }


@media only screen and (max-width: 450px) {
    
    .logo{
        width: 100%;
        
    }
    .box-transparent-black{
        width: 100%;
        transform: translate(0px, 0px);
       
    }
    .parallax-aboutus{
        height: 100%;
        margin: 0px;
        
    }

    .image-title{
        width: 40%;
    }
}

/* TABLET VERSION  */
@media only screen and (max-width: 991.98px) {
    .box-transparent-black{
        transform: translate(0px, 0px);
        
    }
    .parallax-aboutus{
        height: 100%;
        margin-bottom: 0px;
        
    }
    .image-title{
        width: 40%;
    }
  }









